@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --theme-background-color: #000000;
  --theme-main-color: #06a07f;
  --theme-sub-text-color: #ffffff;
  --theme-nav-background-color: #181818;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--theme-background-color);
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}
a {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.App {
  height: 100%;
  &__main-page-content {
    height: 100%;
  }
}
